{% extends "app/base.html" %}
{% block content %}
  <div class="content">
    <div class="content-section">
     <h3>You can't have access to this page without an acount! 
     You need to register first.</h3>
 
     
    <div class="border-top pt-3">
        <small class="text-muted">
           Pleace log in to get access to the content <a class="ml-2" href="{% url 'login' %}">Log in</a>
        </small>
    </div>
  
    <div class="border-top pt-3">
        <small class="text-muted">
           Do you have an account? <a class="ml-2" href="{% url 'register' %}">Sign Up</a>
        </small>
        </div>
       </div>
      </div>
    </div>
{% endblock content %}