

* {
    border-radius: 5px;
}

body.thumb {
    transform: scale(0.4);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.col{
    height: 60vh;
    min-width: 50vw;
}

.container{
  min-height: 90vh;
}
.nav-item {
    background-color: #eeeeff;
    background-clip: content-box;
}
nav{
   background-color: rgb(63, 65, 65);
}
.img-profile{
    max-height: 10rem;
    width:auto;
    max-width: 10rem;
 
}
.carousel-inner  *
{
    background-color: rgb(214, 214, 214);
}
.carousel-inner{
    background-color: black;
}
.card{

    width: 80%;
    
}
.card-text, .card-title{
    text-align: center;
}
.container.my-5, footer{
 background-color: rgb(44, 46, 46); 
 margin: 0;
 color:aliceblue
}

footer a{
   color:aliceblue;
}
.user_pic{
    max-width: 4.2rem;
    height:3.7rem;
}
.profile_img{
     max-width: 10.2rem;
    height:9.7rem;
}

.container_cover{
    display: grid;
    grid-template-columns: auto 100vw;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
}
.cover_img{
  filter: brightness(90%);
    width: 100%;
    min-height: 50vh;
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 0;
}
.overlay_text{
    z-index: 1;
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
    color: #d8d8db;
    font-size: 1.45rem;
    font-weight:600;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 1rem;
 
}

@media screen and (min-width: 1000px) {
    .main_det-tr{
   flex-wrap: nowrap;
}
}

h3, .subtitle{

    text-align: center;
}
.content{
    width: 100%;
    height: 100vh;
    padding-top: 15%;
    display:flex ;
    justify-content: center;
}
.link{
    color: rgb(163, 159, 159);
    text-decoration: none;
}
.btn-logout{
    border: none;
    background-color:#f8f9fa;

}